    *{
      box-sizing: border-box;
    }


@font-face {
    font-family: 'HeadSemi';
    src: url('fonts/HeadSemi.ttf');
}

@font-face {
    font-family: 'inter';
    src: url('fonts/Inter_28pt-Regular.ttf');
}

    html,.body{
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .body{background-image:url('images/welcome-hero.png');
      background-position: center;
      object-fit: cover;
      background-repeat: no-repeat;}

    h4{color: #444;
    font-family: 'inter';

  }


    main{height: inherit;
      width: inherit;
        display: flex;
        flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      margin-top: 25%;
    }

    .welcome-container{height: auto;
      width: 75%;
      backdrop-filter: blur(10px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 25px;
      padding: 1em 1em;
  
    }

    .welcome-txt-box{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: .5em;
      width: 100%;
    }

    .welcome-btn{ background-color: #9ddb00da;
      height: 100%;
      font-size: 1.1em;
      width: 100%;
      border: none;
      border-radius: 5px;

    }

    .sign{ display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
   
    
   #signin-screen,#signup-screen{height: inherit;
      width: inherit;
      gap: 20px;
      backdrop-filter: blur(10px);
      border-radius: 10px;
      align-items: center;
      justify-content: center;
   }

   #signin-form,#signup-form{
       display: flex;
      flex-direction: column;
    width: 100%;
    padding: 2rem;
    font-family: 'inter', sans-serif;
    font-size: .9em;
   }

   #signin-form input,#signup-form input{
    border-radius: .3em;
    border: none;
   }

   .form-btn{ margin-top: 1rem;
    background-color: #9EDB00;
    border: none;
    padding: .5rem;
    border-radius: .5rem;
   }

   .form-btn:hover,.welcome-btn:hover{
    background-color: #3e5600;
    transition: .25s;
   }

    @media screen and (max-width:376px){
      main{
        font-size: .9rem;
      }

      body{
      object-fit: cover;
      }
    }

    @media screen and (max-width:325px){
      footer{
        font-size:.7rem;
      }
      
    }